<%- include("partials/header.ejs") %>

<main>
<div class="container justify-content-center">
  <h1>New Post</h1>
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="New Rain">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Blog</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="500 word max.."></textarea>
    </div>
    <button class="btn btn-secondary" type="submit">Submit</button>
  </form>
  </div>
</main>
  

<%- include("partials/footer.ejs") %>